/* Content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(92vh - 140px);
    flex-direction: column;
}

.admin-actions a {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-decoration: none;
}

.admin-actions a:hover {
    background-color: #21618c;
}

.admin-actions button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-decoration: none;
}

.admin-actions button:hover {
    background-color: #21618c;
}