<app-header [pages]="pages"></app-header>
<!-- Content -->
<div class="content">
  <div class="form-container">
    <h2>Delete User</h2>
    <form (ngSubmit)="searchUser()">
      <label for="userID">Enter UserID</label>
      <input
        type="text"
        [(ngModel)]="underwriterId"
        required
        [ngModelOptions]="{ standalone: true }"
        placeholder="Enter User ID"
      />
      <button type="submit">Search</button>
      <button (click)="goBack()" class="back-link">Back</button>
    </form>
  </div>
</div>

<!-- Success or Failure Message -->
<div class="message-container" *ngIf="message">
  <p class="success-message" *ngIf="isSuccess">{{ message }}</p>
  <p class="error-message" *ngIf="!isSuccess">{{ message }}</p>
</div>

<!-- User Details -->
<div class="user-details" *ngIf="user">
  <h2>User Details</h2>
  <table class="user-table">
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    <tr>
      <td><strong>ID</strong></td>
      <td>{{ user.underwriterId }}</td>
    </tr>
    <tr>
      <td><strong>Name</strong></td>
      <td>{{ user.name }}</td>
    </tr>
    <tr>
      <td><strong>Date of Birth</strong></td>
      <td>{{ user.date_of_birth }}</td>
    </tr>
    <tr>
      <td><strong>Gender</strong></td>
      <td>{{ user.gender }}</td>
    </tr>
    <tr>
      <td><strong>Address</strong></td>
      <td>{{ user.address }}</td>
    </tr>
    <tr>
      <td><strong>Date of Joining</strong></td>
      <td>{{ user.dateOfJoin }}</td>
    </tr>
  </table>

  <!-- Display delete button only if deletion hasn't been performed -->
  <button
    class="delete-button"
    (click)="deleteUser(user.underwriterId)"
    *ngIf="!deletionPerformed"
  >
    Delete User
  </button>
</div>
