.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 32px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.update-btn:hover {
  background-color: #0056b3;
}

.error-text {
  color: red;
  font-size: 0.9rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal.show {
  display: block;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 14px;
  /* margin-left: 61%; */
  color: #ffffff;
  background-color: #007bff;
width: 100%;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-link:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
  color: #ffffff;
}

.back-link:active {
  background-color: #003f7f;
  /* Even darker blue on active click */
}

.back-link:focus {
  outline: 2px dashed #007bff;
  outline-offset: 3px;
}