<header class="header">
  <a class="header-brand" routerLink="/userWriter">
    <img src="assets/images/logo.png" alt="DriveShield Logo" class="logo">
    <h1>DriveShield</h1>
  </a>
  <nav class="navigation">
    <a *ngFor="let page of pages" [routerLink]="page.link" routerLinkActive="active">
      {{ page.name }}
    </a>
  </nav>
  <div class="user-info" *ngIf="isLoggedIn">
    <div class="user-icon">{{ userInitial }}</div>
    <div class="dropdown-menu">
      <p>Welcome, {{ userName }}!</p>
      <a class="logout-btn" (click)="logout()">Logout</a>
    </div>
  </div>
</header>